Repository forafox/Zadachnik, pull requests merged in 2024-11, with the labels that each got.

#78 build: configure CI/CD pipeline
  .env.example
  .github/pull_request_template.md
  .github/workflows/cd.yaml
  .github/workflows/ci.yaml
  .github/workflows/release.yml
  Makefile
  ansible/ansible.cfg
  ansible/env.j2
  ansible/helios.yaml
  ansible/inventory/inventory.ini
  ansible/staging.yaml
  ansible/start.j2
  ansible/stop.j2
  docker-compose.dev.yaml
  docker-compose.yaml
  frontend/Dockerfile
  frontend/nginx.conf
  traefik/letsEncrypt/acme.json
  traefik/traefik.yaml
Labels: CI/CD

#84 feat: configuration liquibase
  Makefile
  backend/src/main/resources/application.yaml
  backend/src/main/resources/db/changelog/changesets/1_initial_schema.sql
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
Labels: backend

#86 feat: configure Spring Security, ExceptionHandler, AuthService
  Makefile
  backend/build.gradle.kts
  backend/src/main/kotlin/com/jellyone/zadachnik/configuration/SecurityConfig.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/configuration/SwaggerConfig.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/controller/AuthController.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/controller/UserController.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/domain/User.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/domain/enums/Role.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/exception/ControllerExceptionHandler.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/exception/ErrorMessage.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/exception/ResourceAlreadyExistsException.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/exception/ResourceNotFoundException.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/repository/UserRepository.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/service/AuthService.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/service/UserService.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/service/impl/AuthServiceImpl.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/service/impl/UserServiceImpl.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/service/props/JwtProperties.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/dto/GetMeResponse.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/dto/SignInRequest.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/dto/SignUpRequest.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/dto/auth/JwtRequest.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/dto/auth/JwtResponse.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/security/JwtEntity.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/security/JwtEntityFactory.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/security/JwtTokenFilter.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/security/JwtTokenProvider.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/security/JwtUsersDetailsService.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/security/expression/CustomMethodSecurityExpressionRoot.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/security/expression/CustomSecurityExpression.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/security/expression/CustomSecurityExpressionHandler.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/security/principal/AuthenticationFacade.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/security/principal/IAuthenticationFacade.kt
  backend/src/main/resources/application.yaml
  backend/src/main/resources/db/changelog/changesets/1_initial_schema.sql
  backend/src/test/kotlin/com/jellyone/zadachnik/controller/AuthControllerTest.kt
  backend/src/test/resources/application.yaml
Labels: backend

#91 feat(GetMeResponse): add fullName field and change example of username
  Makefile
  backend/src/main/kotlin/com/jellyone/zadachnik/controller/UserController.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/domain/User.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/dto/GetMeResponse.kt
Labels: backend

#92 feat(UserController): implements GET `/users/{id}` and Get All `/users`
  Makefile
  backend/src/main/kotlin/com/jellyone/zadachnik/configuration/SecurityConfig.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/controller/UserController.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/repository/UserRepository.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/service/AuthService.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/service/UserService.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/service/impl/AuthServiceImpl.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/service/impl/UserServiceImpl.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/response/UserResponse.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/security/JwtTokenFilter.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/security/expression/CustomSecurityExpressionHandler.kt
  backend/src/test/kotlin/com/jellyone/zadachnik/controller/UserControllerTest.kt
Labels: backend

#95 feat(ProductController): add Post, Put, Get, and GetAll mappings
  Makefile
  backend/src/main/kotlin/com/jellyone/zadachnik/configuration/SwaggerConfig.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/controller/ProductController.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/controller/UserController.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/domain/Product.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/domain/User.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/repository/ProductRepository.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/service/ProductService.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/dto/GetMeResponse.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/request/CreateProductRequest.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/request/ProductRequest.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/response/ProductResponse.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/response/UserResponse.kt
  backend/src/main/resources/db/changelog/changesets/2_change_shortName_to_ticker.sql
  backend/src/test/kotlin/com/jellyone/zadachnik/controller/ProductControllerTest.kt
Labels: backend

#98 feat(logging): add Spring AOP for logging and configure logback
  Makefile
  backend/src/main/kotlin/com/jellyone/zadachnik/configuration/LoggingAspectConfig.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/configuration/SecurityConfig.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/configuration/annotaion/Loggable.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/controller/ProductController.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/security/RequestIdFilter.kt
  backend/src/main/resources/logback.xml
Labels: backend

#100 feat(TeamController): add Post, Put, Get, and GetAll mappings
  Makefile
  backend/src/main/kotlin/com/jellyone/zadachnik/configuration/SwaggerConfig.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/controller/ProductController.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/controller/TeamController.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/domain/Team.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/repository/TeamRepository.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/service/ProductService.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/service/TeamService.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/request/TeamRequest.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/response/TeamResponse.kt
  backend/src/test/kotlin/com/jellyone/zadachnik/controller/TeamControllerTest.kt
Labels: backend

#137 feat(TeamMeetingController): add post mapping
  Makefile
  backend/src/main/kotlin/com/jellyone/zadachnik/controller/TeamMeetingController.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/domain/TeamMeeting.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/domain/enums/TeamMeetingType.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/exception/ControllerExceptionHandler.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/repository/TeamMeetingRepository.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/service/TeamMeetingService.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/request/TeamMeetingRequest.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/response/TeamMeetingResponse.kt
  backend/src/main/resources/db/changelog/changesets/3_change_team_meeting_title.sql
  backend/src/test/kotlin/com/jellyone/zadachnik/controller/ProductControllerTest.kt
  backend/src/test/kotlin/com/jellyone/zadachnik/controller/TeamMeetingControllerTest.kt
Labels: backend

#138 feat(UserController): add `getProductsOfCurrentUser` and `getTeamsOfC…
  Makefile
  backend/src/main/kotlin/com/jellyone/zadachnik/controller/UserController.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/repository/ProductRepository.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/repository/TeamRepository.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/service/ProductService.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/service/TeamService.kt
  backend/src/test/kotlin/com/jellyone/zadachnik/controller/ProductControllerTest.kt
  backend/src/test/kotlin/com/jellyone/zadachnik/controller/TeamControllerTest.kt
Labels: backend

#140 feat(TaskController): add Post, Get, Put endpoints
  Makefile
  backend/src/main/kotlin/com/jellyone/zadachnik/configuration/SwaggerConfig.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/controller/TaskController.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/domain/Task.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/domain/TaskChange.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/repository/TaskChangeRepository.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/repository/TaskRepository.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/service/TaskChangeService.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/service/TaskService.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/request/TaskRequest.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/response/TaskChangeResponse.kt
  backend/src/main/kotlin/com/jellyone/zadachnik/web/response/TaskResponse.kt
  backend/src/main/resources/db/changelog/changesets/4_change_value_task_changes.sql
  backend/src/test/kotlin/com/jellyone/zadachnik/controller/TaskControllerTest.kt
Labels: backend

#143 feat(JaCoCo): configure plugin for test coverage reporting
  Makefile
  backend/build.gradle.kts
Labels: backend

#1 docs: add requirements, infological & datalogical models
  docs/.gitignore
  sql/create.sql
  sql/delete.sql
  sql/test.sql
  srs/.gitignore
  srs/Makefile
  srs/architecture.png
  srs/figures/architecture.d2
  srs/figures/datalogical.d2
  srs/figures/infological.d2
  srs/latexindent.yaml
  srs/main.tex
  srs/src/architecture.tex
  srs/src/database.tex
  srs/src/description.tex
  srs/src/glossary.tex
  srs/src/preamble.tex
  srs/src/requirements.tex
  srs/src/title.tex
  srs/src/usecases.tex
Labels: documentation
